apiVersion: 1

datasources:
  # Prometheus
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s

  # VictoriaMetrics
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s

  # ClickHouse
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    editable: true
    jsonData:
      defaultDatabase: metrics
      defaultTable: metrics
      port: 9000
      protocol: native
      secure: false
      username: default
    secureJsonData:
      password: ${CH_PASSWORD}

